@font-face {
    font-family: text;
    src: url(../resource/fonts/Poppins-Regular.ttf);
}


:root{
    --font-text: text;

    --Color-Primario: #512da8;
    --Color-Secundario: #757575;
    --Color-Terciario: #607d88;
    --Color-With: #ffff;
    --Color-Black: black;
}

.span{
    color: var(--with-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: var(--font-text);
    font-family: var(--font-text);
}
img {
    max-width: 100%;
}

.main{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background: linear-gradient(90deg, rgba(96,125,136,1) 19%, rgba(117,117,117,1) 80%);
    min-height: 100vh;
    padding: 80px 0;
    
}

.header::before{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}

.navbar{
    position: relative;
    z-index:10;
}

.header-content-txt{
    position: relative;
}

.menu-container{
    max-width: 1200px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.card-start{
    width: 100%;
    height: 470px;
    background-image: url(../resource/imgs/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 30px;  
    border-radius: 15px;
    box-shadow:  7px 7px 5px #526a74;
}
.start{
    color: var(--Color-Primario);
    font-size: 24px;
    padding: 0px;
  transition: margin 0.3s ease 0.1s;
}


.logo{
    color: var(--Color-Primario);
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
}

.menu-container .navbar ul li {
    position: relative;
    float: left;

}

.menu-container .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: var(--Color-With);
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color:var(--Color-Primario);
    font-weight: 600;
    display: block;
    
}

.menu-container .navbar ul li a:hover{
    color: var(--Color-Primario);
    font-size: 24px;
   
  transition: margin 0.5s ease 0.3s;
}

#menu {
    display: none;
}

.menu-icon{
    cursor: pointer;
    display: none;
}

.header-content-container{
    display: flex;
}
.header-content-txt{
    flex-basis: 50%;
}

.header-content-txt h1{
    font-size: 60px;
    margin-bottom: 25px;
}

.header-content-txt p{
    font-size: 17px;
    color: var(--Color-With);
    margin-bottom: 30px;
}

.buttons{
    display: flex;
}

.btn-1{
    position: relative;
    display: inline-block;
    padding: 11px 35px;
    border: 2px solid var(--Color-Primario);
    border-radius: 25px;
    color: var(--Color-With);

}
.buttons:hover *{
    background-color: var(--Color-Primario);
}
.btn-1:hover  {
    background-color: var(--Color-Primario);

}

@media(max-width:1090px){

    .header{
        padding: 20px;
    }
    .menu-container{
        padding: 20px;
    }

    .menu-container .menu-icon {
        display: initial;
    }
 
    .menu-container .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--Color-Terciario);
        display: none;
    }
    
    .menu-container .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }
}

.contenedor{
    display: flex;
    justify-content: center;
    margin-left: 10px;
  }
  
  @media(max-width:1090px){

    .contenedor{
      margin-top: 80px;
    }
  }
   
