@font-face {
    font-family: text;
    src: url(../resource/fonts/Poppins-Regular.ttf);
}


:root{
    --font-text: text;

    --primary-color: #512da8;
    --second-color: #757575;
    --third-color: #607d88;
    --with-color: #ffff;
    --black-color: black;
}

.styled-table { 
    position: relative;
    border-collapse: collapse; 
    
    font-size: 1em; 
    font-family: var(--font-text); 
    min-width: 450px; 
    width: 70%;
    margin:10% auto;
    z-index:2;
    box-shadow: 0 0 20px var(--black-color); 
}
@media (width < 850px) {
    .styled-table {
        margin-top: 20%;
        margin-left: auto;
        width: 50%;
        min-width: 450px; 
        font-size: 1em; 
    }

}
@media (width < 500px) {
    .styled-table {
        margin-top: 40%;
        margin-left: 0;
        width: 5%;
        min-width: 10px; 
        font-size: 0.9em; 
    }

}
.styled-table thead tr {
     background-color: var(--primary-color); 
     color: var(--with-color); 
     text-align: middle; 
}
.styled-table th, .styled-table td {
     padding: 12px 15px;
 }

 .styled-table tbody tr { 
    border-bottom: 1px solid var(--with-color);  
} 
.styled-table tbody tr:nth-of-type(even) { 
    background-color: var(--with-color);  
} 
.styled-table tbody tr:last-of-type { 
    border-bottom: 2px solid var(--third-color); 
}